.links {
    text-decoration: none;
    color: #566270;
    font-size: 0.8em;
}

#main__category {
    width: 10vw;
    margin-left: 0.5vw;
    padding-right: 0.5vw;
    border-right: #566270 solid 1px;
}

ul{
    list-style-type: none;
}