@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
/*@import "/style/header-style.css";*/
/*@import "/style/footer-style.css";*/
html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}