#main {
    display: flex;
}

#main__search-result {
    margin-left: 5vw;
    text-decoration: none;
    color: #566270;
    width: 90vw;
    height: 99vh;
    overflow: scroll;
}

.postings {
    margin-top: 1vh;
    width: 80vw;
    border-top: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-left: 0px;
    border-color: #566270;
    border-style: solid;
    padding-bottom: 1vh;
}

#search-result__book {
    margin-top: 4em;
    height: 25vh;
    width: 80vw;
    border-bottom: #566270 solid 1px;
}

#book__title {
    font-size: 1.5em;
}

#book__intro {
    display: flex;
}

#intro__book-img {
    height: 13vh;
    width: 10vw;
}

#intro__text-info {
    margin-left: 1vw;
}