<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/change-password-style.css">
    <title>Find password</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <section id="main__change-passwd">
            <h2 id="change-passwd__headline">Change password</h2>
            <input type="text" placeholder="email" class="change-passwd-inputs" id="change-passwd__email">
            <input type="password" placeholder="new password" class="change-passwd-inputs" id="change-passwd__passwd1">
            <input type="password" placeholder="verify password" class="change-passwd-inputs" id="change-passwd__passwd2">
            <input type="submit" value="change password" class="change-passwd-inputs" id="change-passwd__submit">
            <p id="change-passwd__error-message"></p>
         </section>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/change-password-cli.js"></script>
</body>
</html>