<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Find password</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <section id="main__change-passwd">
            <input type="text" placeholder="email" id="change-passwd__email">
            <input type="password" placeholder="new password" id="change-passwd__passwd1">
            <input type="password" placeholder="verify password" id="change-passwd__passwd2">
            <input type="submit" value="change password" id="change-passwd__submit">
            <span id="change-passwd__error-message"></span>
         </section>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/change-password-cli.js"></script>
</body>
</html>