<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/edit-password-style.css">
    <title>Edit password</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <article id="main__passwd">
            <h2 id="passwd__headline">Change password</h2>
            <input type="password" placeholder="Previous password" name="prev_passwd" class="edit-passwd-inputs" id="passwd__prev">
            <input type="password" placeholder="New password" name="new_passwd1" class="edit-passwd-inputs" id="passwd__new-passwd1">
            <input type="password" placeholder="Verify password" name="new_passwd2" class="edit-passwd-inputs" id="passwd__new-passwd2">
            <button class="edit-passwd-inputs" id="passwd__submit">Change password</button>
            <p id="message"></p>
        </article>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/edit-password-cli.js"></script>
</body>
</html>