<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/edit-profile-style.css">
    <title>Edit profile</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <form action="/auth/edit-user-info" method="POST" enctype="multipart/form-data" id="main__edit-profile">
            <div id="edit-profile__img">
                <label for="img__choose">Avatar</label>
                <input type="file" value="Avatar" name="profile_img" id="img__choose">
            </div>
            <input type="text" placeholder="" name="name" class="profile-inputs" id="edit-profile__name">
            <input type="email" placeholder="" name="email" class="profile-inputs" id="edit-profile__email">
            <input type="text" placeholder="" name="age" class="profile-inputs" id="edit-profile__age">
            <button class="profile-inputs" id="edit-profile__submit">change profile</button>
            <span id="edit-profile__message">{{message}}</span>
        </form>
    </main>
    {% include "common-script.html" %}
    {% include "footer.html" %}
    <script src="/script/edit-profile-cli.js"></script>
</body>
</html>