<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit password</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <section id="main__passwd">
            <input type="password" placeholder="Previous password" name="prev_passwd" id="passwd__prev">
            <input type="password" placeholder="New password" name="new_passwd1" id="passwd__new-passwd1">
            <input type="password" placeholder="Verify password" name="new_passwd2" id="passwd__new-passwd2">
            <button id="passwd__submit">Change password</button>
            <span id="message"></span>
        </section>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/edit-password-cli.js"></script>
</body>
</html>