<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <title>Edit profile</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <section id="main__edit-profile">
            <input type="text" placeholder="" id="edit-profile__name">
            <input type="email" placeholder="" id="edit-profile__email">
            <input type="text" placeholder="" id="edit-profile__age">
            <button id="edit-profile__submit">change profile</button>
            <span id="edit-profile__message"></span>
        </section>
    </main>
    {% include "common-script.html" %}
    {% include "footer.html" %}
    <script src="/script/edit-profile-cli.js"></script>
</body>
</html>