<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <title>Fix posting</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <section id="main__posting">
            <input type="text" placeholder="" id="posting__title">
            <select name="" id="post__category">
                <option>=== 글 카테고리 ===</option>
                <option value="알고리즘">알고리즘</option>
                <option value="스터디">스터디</option>
                <option value="취업">취업</option>
                <option value="도서 추천&리뷰">도서 추천&리뷰</option>
                <option value="코딩질문">코딩질문</option>
                <option value="자유게시판">자유게시판</option>
            </select>
            <div id="post__tag"></div>
            <textarea name="posting__context" id="posting__context" cols="30" rows="10"></textarea>
            <input type="text" id="posting__submit">
        </section>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" }
</body>
</html>