<header id="head">
    <a href="/letter" id="head__list">
        <i class="fas fa-list" id="haed__list-logo"></i>
    </a>
    <a href="/">
        <img src="/main-logo" alt="main logo" height="100px" width="100px">
    </a>
    <select name="" id="search-list">
        <option value="">검색대상 선택</option>
        <option value="title">글제목</option>
        <option value="category">카테고리</option>
    </select>
    <input type="text" id="head__search">
    <i class="fas fa-search" id="head__search-logo"></i>
    {% if is_logged_in %}
    <a href="/auth/posting" id="head__posting">posting</a>
    <a href="/auth/profile" id="head__profile">profile</a>
    <a href="/login/logout" id="head__logout">logout</a>
    {% else %}
    <a href="/login" id="head__login">login</a>
    <a href="/signup" id="head__signup">signup</a>
    {% endif %}
</header>
