<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/index-style.css">
    <title>tmp</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <div id="main__div1">
            <img src="/main-logo" id="main__logo" alt="main logo">
            <img src="/main-img2" id="main__img2" alt="main image2">
        </div>
        <div id="main__div2">
            <img src="/main-img3" id="main__img3" alt="programming language image">
        </div>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/index-cli.js"></script>
</body>
</html>