<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/letters-style.css">
    <title>All letters</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <aside id="main__category">
        </aside>
        <section id="main__letters"></section>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/letters-cli.js"></script>
</body>
</html>