<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <title>All letters</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <aside id="main__category">
            <p><a href="">알고리즘</a></p>
            <ul>
                <li><a href="">브루트포스</a></li>
                <li><a href="">그래프</a></li>
                <li><a href="">그리디</a></li>
                <li><a href="">다이나믹 프로그래밍</a></li>
            </ul>
            <p><a href="">스터디</a></p>
            <ul>
                <li><a href="">서울</a></li>
                <li><a href="">부산</a></li>
                <li><a href="">대구</a></li>
                <li><a href="">경기도</a></li>
            </ul>
            <p><a href="">취업</a></p>
            <ul>
                <li><a href="">웹</a></li>
                <li><a href="">게임</a></li>
                <li><a href="">모바일</a></li>
                <li><a href="">보안</a></li>
                <li><a href="">인공지능</a></li>
                <li><a href="">데이터</a></li>
            </ul>
            <p><a href="">도서 추천&리뷰</a></p>
            <p><a href="">코딩 질문</a></p>
            <p><a href="">자유케시판</a></p>
        </aside>
    </main>
</body>
</html>