<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <title>login</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <article id="main__login">
            <section id="login__local">
                <input type="text" placeholder="email" name="email" id="local__name">
                <input type="password" placeholder="password" name="password" id="local__password">
                <input type="submit" value="login" id="login__submit">
                <button id="login__find-passwd"><a href="/login/new-password">Find password</a></button>
            </section>
            <section id="login__kakao">
                <a href="/login/kakao" id="kakao__login-btn">
                    <i class="fas fa-comment"></i>
                    Login with Kakao
                </a>
            </section>
            <sectino id="login__github">
                <a href="/login/github" id="git__login-btn">
                    <i class="fab fa-github"></i>
                    Login with Github
                </a>
            </sectino>
            <span id="login__err-message"></span>
        </article>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/login-cli.js"></script>
</body>
</html>