<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="/login/confirm-login" method="POST" id="login-form">
        <input type="text" placeholder="name" name="name" id="form__name">
        <input type="password" placeholder="password" name="password" id="form__password">
        <input type="submit" value="login" id="form__submir">
    </form>
    <script src="/script/index-cli.js"></script>
</body>
</html>