<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/new-posting-style.css">
    <title>New article</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <form action="/auth/new-posting" method="POST" enctype="multipart/form-data" id="new-post">
            <input type="text" placeholder="제목" name="title" id="post__title">
            <select name="category" id="post__category">
                <option>=== 글 카테고리 ===</option>
                <option value="알고리즘">알고리즘</option>
                <option value="스터디">스터디</option>
                <option value="취업">취업</option>
                <option value="도서 추천&리뷰">도서 추천&리뷰</option>
                <option value="코딩질문">코딩질문</option>
                <option value="자유게시판">자유게시판</option>
            </select>
            <div id="post__tag"></div>
            <textarea name="context" id="post__main-context" cols="30" rows="10"></textarea>
            <div id="post__imgs">
                <label for="imgs__select">이미지 추가</label>
                <input type="file" multiple value="이미지 선택" name="imgs" id="imgs__select">
            </div>
            <input type="submit" id="new-post__submit">
            <p id="message">{{message}}</p>
        </form>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/new-posting-cli.js"></script>
</body>
</html>