<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <title>tmp</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <section id="main__comment-input">
            <textarea name="comment" id="comment-input__comment" cols="30" rows="5"></textarea>
            <input type="submit" value="입력" id="comment-input__submit">
        </section>
        <section id="main__comments"></section>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/posting-cli.js"></script>
</body>
</html>