<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <title>{{user_name}}</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <article id="main__user-info">
            <img src="/auth/profile-img" alt="" id="user-info__img" height="100px" width="100px">
            <span id="user-info__name">{{user_name}}</span>
            <a href="/auth/edit-profile" id="user-info__edit-profile">Edit profile</a>
            {% if local_login %}
            <a href="/auth/edit-password" id="user-info__change-password">change password</a>
            {% endif %}
        </article>
    </main>
    {% include "common-script.html" %}
</body>
</html>