<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <title>login</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <article id="main__signup">
            <section id="signup__local">
                <input type="text" placeholder="name" name="name" id="local__name">
                <input type="text" placeholder="email" name="email" id="local__email">
                <input type="text" placeholder="age" name="age" id="local__age">
                <input type="password" placeholder="password" name="passwd1" id="local__passwd1">
                <input type="password" placeholder="Verify password" name="passwd2" id="local__passwd2">
                <input type="submit" value="Join Now!" id="local__submit">
            </section>
            <section id="signup__kakao">
                <a href="/login/kakao" id="kakao__signup-btn">
                    <i class="fas fa-comment"></i>
                    Login with Kakao
                </a>
            </section>
        </article>
        <span id="message"></span>
    </main>
    {% include "common-script.html" %}
    <script src="/script/signup-cli.js"></script>
</body>
</html>