<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <main id="main">
        <input type="text" placeholder="name" name="name" id="main__name">
        <input type="text" placeholder="email" name="email" id="main__email">
        <input type="text" placeholder="age" name="age" id="main__age">
        <input type="password" placeholder="password" name="passwd1" id="main__passwd1">
        <input type="password" placeholder="Verify password" name="passwd2" id="main__passwd2">
        <input type="submit" value="Join Now!" id="main__submit">
        <span id="message"></span>
    </main>
    {% include "common-script.html" %}
    <script src="/script/signup-cli.js"></script>
</body>
</html>