<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="/signup/confirm-singup" method="POST" id="signup-form">
        <input type="text" placeholder="name" name="name" id="form__name">
        <input type="text" placeholder="email" name="email" id="form__email">
        <input type="text" placeholder="age" name="age" id="form__age">
        <input type="password" placeholder="password" name="passwd1" id="form__passwd1">
        <input type="password" placeholder="Verify password" name="passwd2" id="form__passwd2">
        <input type="submit" value="Join Now!" id="form__submit">
    </form>
</body>
</html>